<?xml version="1.0" encoding="UTF-8"?>
<h2>Venda</h2>
<p>Forma de pagamento: Cartao</p>
<h3>Produtos</h3>
<h1>Livro de java com xml</h1>
<p>59.90</p>
<hr />
<h1>Livro de jax-p</h1>
<p>59.90</p>
<hr />
<h1>Livro de O.O em java</h1>
<p>59.90</p>
<hr />